*:focus{
  outline: none;
}
:root{
  --c1: rgb(10, 182, 255);
  --tile: 48px;
  --square: 150px;
  --tile-bg: rgb(243, 182, 27);
  --key: 60px;
  --button: 240px;
  --red: red;
  --bg: #23272f;
  --widthval: 400px;
}
@media only screen and (max-width: 1023px)
{
  :root{
    --widthval: 300px;
  }
}
@media only screen and (max-width: 793px)
{
  :root{
    --widthval: 200px;
  }
}
@media only screen and (max-width: 479px)
{
  :root{
    --widthval: 180px;
  }
}

body{
  text-align: center;
  padding-top: calc(var(--widthval)/20);
  /* border: 5px solid white; */
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  color: white;
  background-color: var(--bg);
  cursor: pointer;
}
.easy{
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: calc(var(--widthval)/80);
  height: calc(var(--widthval)/8);
  width: calc(var(--widthval)*3/2);
  /* border: 1px solid red; */
}
.easy-input{
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  width: calc(var(--widthval)/2);
  height: calc(var(--widthval)/10);
  margin-right: calc(var(--widthval)/40);
  outline: auto;
  font-size: calc(var(--widthval)/25);
}
.easy-button{
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  width:calc(var(--widthval)/2);
  height: calc((var(--widthval)*9)/80);
  margin-left: calc(var(--widthval)/40);
  font-size: calc(var(--widthval)/22);
  color: aliceblue;
  font-weight: 500;
  border-radius: calc(var(--widthval)/100);
  background-color: rgb(66, 66, 250);
  border: yellow calc(var(--widthval)/400) solid;
}

.note-div{
  margin: calc(var(--widthval)/80);
  height: calc(var(--widthval)/8);
  width: calc(var(--widthval)*3/2);
}
h3{
  text-align: center;
  margin: 0;
  margin-bottom: calc(var(--widthval)/80);
  font-size: calc(var(--widthval)/25);
  /* border: 1px red solid; */
}
.sudoku{
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  color: inherit;
  background-color: inherit;
  position: relative;
  /* left: 50%;
  transform: translate(-50%,0); */
  /* border: 1px solid red; */
}
.button-pad{
  display: grid;
  width: calc(var(--widthval));
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid black; */
  /* margin-top: 10px; */
  margin-bottom: calc(var(--widthval)/20);
}
.button{
  font-size: calc(var(--widthval)/16);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--widthval)/10);
  border: var(--c1) calc(var(--widthval)/100) solid;
  margin: calc(var(--widthval)/80);
  margin-bottom: 0;
}
.mode{
  background-color: yellow;
  border: var(--c1) calc(var(--widthval)/100) solid;
  color: black;
}
.board{
  height: calc(var(--widthval));
  width: calc(var(--widthval));
  border:calc(var(--widthval)*3/400) solid var(--c1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.square{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: calc(var(--widthval)*3/400) solid var(--c1);
}
.tile{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--widthval)*3/40);
  font-weight: 500;
  color: currentColor;
  border: calc(var(--widthval)/400) solid var(--c1);
}
.tile-focus{
  background-color: var(--tile-bg);
  border: calc(var(--widthval)/200) solid var(--c1);
  border-radius: 0;
  outline: none;
}
.keypad{
  margin: calc(var(--widthval)*3/80);
  display: grid;
  width: calc(var(--widthval)*3/2);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  border: calc(var(--widthval)/200) solid var(--c1);
}
.key{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--widthval)*3/40);
  height: calc(var(--widthval)/8);
  font-weight: 400;
  color: currentColor;
  border: calc(var(--widthval)/200) solid var(--c1);
}
.wide-button{
  font-size: calc(var(--widthval)*3/40);
  height: calc(var(--widthval)/10);
  width: calc(var(--widthval));
  border: var(--c1) calc(var(--widthval)/100) solid;
  margin: calc(var(--widthval)/8);
  margin-bottom: calc(var(--widthval)/80);
  margin-top: 0;
}

.updated{
  background-color: var(--c1);
}

.unsafe{
  background-color: var(--red);
}